.controversial-submission {
    /*display: none;*/
}

.controversial-title {

}

.controversial-subline {
    /*border: 1px solid black;*/
}

.controversial-general-link {
    cursor: not-allowed;
}

.controversial-comments-link {
    color: #b6b6b6;
    border: 1px dotted #f8c0c0;
}

.controversial-age-link {

}

.controversial-from-link {

}

.controversial-user-link {

}
